<div ng-include="'views/partials/navbar.html'"></div>
<div class="jumbotron">
    <div class ="container">
        <h1>Kendra Redmond</h1>
        <h3>Freelance Science Writer</h3>
    </div>
</div>
<div class="row">
<div class="col-sm-6 col-md-4">
<div class="thumbnail">
<img src="images/ShapeofRandomness.png" alt="cat1">
<div class="caption">
  <h3>Article Title</h3>
  <p>Fanny pack butcher before they sold out fixie cray migas. Tattooed art party polaroid, pour-over tbh microdosing yuccie deep v poke cliche fam. Craft beer leggings adaptogen coloring book knausgaard taxidermy pour-over portland freegan lo-fi. Woke biodiesel drinking vinegar pok pok wayfarers. Knausgaard taiyaki flexitarian meggings. Umami letterpress quinoa sartorial street art raw denim chia selfies leggings YOLO schlitz waistcoat shabby chic ugh edison bulb.</p>
</div>
</div>

</div>
<div class="col-sm-6 col-md-4">
<div class="thumbnail">
<img src="images/cat2.jpeg" alt="cat2">
<div class="caption">
  <h3>Article Title</h3>
  <p>Cred narwhal chicharrones bushwick fashion axe fam meggings heirloom retro you probably haven't heard of them art party. Sartorial green juice four loko, everyday carry put a bird on it four dollar toast organic kombucha raclette. Meditation bitters next level literally jean shorts. Post-ironic selvage messenger bag cred health goth organic roof party scenester food truck cronut succulents. Banjo hoodie messenger bag everyday carry, slow-carb 3 wolf moon venmo kickstarter hella enamel pin literally lumbersexual. Coloring book poke VHS PBR&B salvia franzen.</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-4">
<div class="thumbnail">
<img src="images/Cotton.jpg" alt="cat3">
<div class="caption">
  <h3>Article Title</h3>
  <p>Hot chicken chia selfies banjo chartreuse mlkshk, kale chips polaroid kickstarter forage tacos edison bulb succulents. Occupy YOLO direct trade, cliche tumblr narwhal forage venmo pickled semiotics. Sustainable adaptogen flannel, hella narwhal chambray godard shoreditch aesthetic. Microdosing glossier man braid, fam retro plaid literally lo-fi bushwick. Lomo semiotics blog gastropub taiyaki. Selfies irony beard williamsburg.</p>
</div>
</div>
</div>
</div>
